{
	"presets": [
		["@babel/preset-env", {
			"modules": "commonjs",
			"targets": {
				"node": "6.14.3"
			}
		}]
	],
	"plugins": [
		["@babel/plugin-proposal-decorators", {
			"legacy": true
		}],
		["@babel/plugin-proposal-class-properties", {
			"loose" : true
		}],
		["@babel/plugin-transform-runtime", {}]
	]
}
